<?xml version="1.0"?>

<configuration>
  <system.web>

      <httpRuntime requestValidationMode="2.0" />
  
    <compilation debug="true" targetFramework="4.0"/>
    <customErrors mode="Off" defaultRedirect="error.aspx">
    </customErrors>
    <sessionState mode="InProc" cookieless="false" timeout="30" />
  </system.web>

  <connectionStrings>
    <add name="SqlConnStr"  connectionString="Data Source=localhost;Initial Catalog=yjsweb;User ID=sa;Password=123456" />
    <!--在这里设置数据库的信息-->
  </connectionStrings>
</configuration>